.container{
  text-align: center;
}

.listContainer{
  display:flex;
  flex-direction: row;
  justify-content:"space-evenly";
  flex-wrap: wrap;
  align-items: center;
}

.productCard{
  width:30%;
  border:2px solid lightblue;
  box-shadow: 5px 5px 5px lightblue;
  margin:10px;
  padding:10px;
  border-radius: 10px;
}

.button{
  background-color: lightblue;
  border-radius: 5px;
  padding:5px;
}

.filter{
  padding:5px;
  margin:5px
}

.image{
  height:25px;
  width:25px;
}

.cartContainer{
  padding:10px;
}